* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.page-title {
    display: block !important;
    text-align: center;
    margin-top: 10px;
}

h1 {
    font-size: 4rem;
}

.form-container {
    width: 600px;
    margin: auto;
}