* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    height: 100vh;
    max-height: 100vh;
    background: url(./assets/images/bg-social.jpg) left top/cover no-repeat;
    overflow-y: auto;
}

.ui.menu {
    padding: 15px 0;
}

.ui.menu a {
    font-weight: bold !important;
}

.page-title {
    display: block !important;
    text-align: center;
}

.ui.teal.button:focus,
.ui.teal.buttons .button:focus {
    background-color: #00b5ad;
}